<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site_title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ base_url | safe }}/favicon.ico">
  <link rel="stylesheet" href="{{ base_url | safe }}/awsm_theme_pearl-lusta.min.css">
  <link href="{{ base_url | safe }}/feed.xml" type="application/atom+xml" rel="alternate" title="Feed" />
</head>
<body>
{% block content %}
{% endblock content %}
<footer>
  <p>made with &lt;3</p>
</footer>
</body>
</html>
